<main class="mt-150">

    <h1 class="text-center">MEUS PROJETOS WEB</h1>
    
    <section class="portfolio-content">

            <section class="project-content">
                <h2 class="text-center">SABOR & ART</h2>
                
                <section>
                    <iframe src="https://www.youtube.com/embed/PVzWaxzY2BU?si=t34iYupUOhHPP2QY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.</p>

                    <h3>Tecnologias:</h3>
                    <h4>Angular | SSR | HTML | CSS | Typescript | Git</h4>
                </section>

            </section>
    </section>

    <section class="h-200px"></section>

    <section class="portfolio-content">

            <section class="project-content">
                <h2 class="text-center">SABOR & ART</h2>
                
                <section>
                    <iframe src="https://www.youtube.com/embed/PVzWaxzY2BU?si=t34iYupUOhHPP2QY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima adipisci, voluptatibus ullam impedit iste nihil minus sequi, delectus fugiat illum, est unde ut modi corporis quae quod eius. Atque.</p>

                    <h3>Tecnologias:</h3>
                    <h4>Angular | SSR | HTML | CSS | Typescript | Git</h4>
                </section>

            </section>
    </section>

</main>
