<main class="mt-150">

    <h1 class="text-center">JOGOS & SIMULADORES</h1>
    
    <p class="description">
        Dê vida às suas ideias com jogos envolventes e dinâmicos. Desenvolvo experiências interativas sob medida, com mecânicas inovadoras, visuais impactantes e jogabilidade fluida para cativar seu público.
    </p>

    <section class="projects">

        <mat-card *ngFor="let game of games" (click)="openProjectDetails(game)">
            <img src="header-bg.png" alt="header-example">

            <!-- Iterando sobre as tecnologias associadas ao projeto -->
            <section class="technologies">
                <app-tech-button 
                    *ngFor="let tech of game.technologies" 
                    [techName]="tech">
                </app-tech-button>
            </section>

            <section class="card-content">
                <mat-card-content>{{ game.title }}</mat-card-content>
                <p>{{ game.text | truncate: 150 }}</p>
            </section>
        </mat-card>

    </section>    
</main>
