<main class="mt-150">

    <h1 class="text-center">ARTES 3D</h1>
    
    <p class="description">
        Dê vida às suas ideias com modelagem e animação 3D de alta qualidade. De personagens expressivos a cenários impressionantes, crio visuais impactantes que elevam projetos para um novo nível.
    </p>

    <section class="projects">

        <mat-card *ngFor="let project of projects3d" (click)="openProjectDetails(project)">
            <img src="header-bg.png" alt="header-example">
            
            <!-- Iterando sobre as tecnologias associadas ao software -->
            <section class="technologies">
                <app-tech-button 
                    *ngFor="let tech of project.technologies" 
                    [techName]="tech">
                </app-tech-button>
            </section>

            <section class="card-content">
                <mat-card-content>{{ project.title }}</mat-card-content>
                <p>{{ project.text | truncate: 150 }}</p>
            </section>
        </mat-card>

    </section>    
</main>
