<main class="mt-150">

    <h1 class="text-center">WEB & E-COMMERCE</h1>
    <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odio nemo deseru consectetur adipisicing elit. Soluta odio nemo deseru consectetur adipisicing elit. Soluta odio nemo deserunt veniam dolorum qui repellendus quos consectetur assumenda cupiditate, optio corporis illum, eum molestiae libero quidem dignissimos ipsam at!
    </p>

    <section class="projects">

        <mat-card *ngFor="let project of projects" (click)="openProjectDetails(project)">
            <img src="header-bg.png" alt="header-example">

            <!-- Iterando sobre as tecnologias associadas ao projeto -->
            <section class="technologies">
                <app-tech-button 
                    *ngFor="let tech of project.technologies" 
                    [techName]="tech">
                </app-tech-button>
            </section>
              
            <section class="card-content">
                <mat-card-content>{{ project.title }}</mat-card-content>
                <p>{{ project.text | truncate:150 }}</p>
            </section>
        </mat-card>

    </section>    

    <h2 class="portfolio-next-title text-center">SOFTWARES</h2>
    <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odio nemo deseru consectetur adipisicing elit. Soluta odio nemo deseru consectetur adipisicing elit. Soluta odio nemo deserunt veniam dolorum qui repellendus quos consectetur assumenda cupiditate, optio corporis illum, eum molestiae libero quidem dignissimos ipsam at!
    </p>
    
    <section class="projects">

        <mat-card *ngFor="let software of softwares" (click)="openProjectDetails(software)">
            <img src="header-bg.png" alt="header-example">

            <!-- Iterando sobre as tecnologias associadas ao software -->
            <section class="technologies">
                <app-tech-button 
                    *ngFor="let tech of software.technologies" 
                    [techName]="tech">
                </app-tech-button>
            </section>

            <section class="card-content">
                <mat-card-content>{{ software.title }}</mat-card-content>
                <p>{{ software.text | truncate:150 }}</p>
            </section>
        </mat-card>

    </section>    
</main>
