<main class="mt-150">

    <h1>MEUS PROJETOS WEB</h1>
    
    <section class="portfolio-content">

        <!-- Projeto 1 -->
            <section class="project-content">
                <h2>Sabor & Arte</h2>
                <section>
                <iframe src="https://www.youtube.com/embed/PVzWaxzY2BU?si=t34iYupUOhHPP2QY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto aut dolor sequi laboriosam deleniti, perspiciatis cum adipisci nihil. Error delectus maiores ratione incidunt quasi ab voluptate officia tempore dolorum?</p>

                <h3>Tecnologias:</h3>
                <h4>Angular | SSR | HTML | CSS | Typescript | Git</h4>
            </section>
        </section>
    </section>


</main>
