button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: default;
    margin: 5px;
}