<main class="about-content mt-150">

    <h1>Resumo Sobre Mim</h1>
    
    <section class="about-text-content">
        <p>
            Olá! Sou Anderson, sou graduado em <strong>Técnico de Informática</strong> pela FAETEC. Atuo como <strong>Pesquisador Científico</strong> no <strong>Centro Universitário Carioca</strong>, trabalhando como <strong>Desenvolvedor Full Stack</strong> e <strong>Game Developer</strong>. Minha jornada começou aos <strong>11 anos</strong>, criando minhas primeiras <strong>páginas estáticas</strong> com <strong>HTML</strong> e <strong>CSS</strong>. Em <strong>2020</strong>, ingressei no curso técnico de informática, onde aprendi <strong>lógica de programação</strong> e linguagens como <strong>Java</strong>, <strong>C</strong> e <strong>C++</strong>, além de criar um <strong>grupo de estudos</strong> durante a pandemia da <strong>COVID-19</strong>.
        </p>
        <p>
            Foi durante a faculdade que iniciei minha trajetória como <strong>Game Developer</strong> e <strong>3D Artist</strong> em uma <strong>iniciação científica</strong>, desenvolvendo projetos de <strong>TCC</strong> e trabalhando para instituições como o <strong>IEN</strong>. Aqui, também comecei a aprender sobre <strong>modelagem 3D</strong>, o que me levou a me aprofundar mais no lado artístico e técnico dos jogos.
        </p>            
        <p>
            Além disso, fui <strong>estagiário mobile</strong> na <strong>Carioca Junior</strong>, onde passei no processo seletivo interno e fui promovido a <strong>diretor de tecnologia (CTO)</strong>, enquanto também era <strong>líder geral de louvor</strong> na igreja. Durante minha gestão na Carioca Junior, liderei equipes de <strong>desenvolvimento Web</strong> e <strong>Mobile</strong>, entregando <strong>dois sites</strong> e melhorando as <strong>metodologias de trabalho</strong> e processos de <strong>atendimento ao cliente</strong>.
        </p>
        <p>
            Ainda, criei <strong>sistemas automáticos</strong> de <strong>geração de contratos</strong> e <strong>certificados</strong> e desenvolvi uma <strong>ferramenta de análise de dados</strong> para o setor financeiro usando <strong>Google Looker Studio</strong>, otimizando a eficiência do time.
        </p>
    </section>
</main>
