h1{ text-align: center; }

p{ text-align: justify; }

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-text-content{
    width: 70%;
    justify-content: center;
    padding-bottom: 70px;
}

.contactLink{ border-radius: 50%; }