mat-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ajuste para o conteúdo do modal */
mat-dialog-content {
  text-align: center;
  height: 100%;
  max-height: 100%;
  overflow-y: auto; 
}

/* Ajuste para o conteúdo de imagem */
mat-dialog-content img {
  width: 100%;
  max-height: 300px; 
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

/* Ajuste para o botão de fechar */
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

/* Ajuste para o texto dentro do modal */
.dialog-text {
  text-align: justify;
}